__venv__
__venv2__
__pycache__
.vscode
.pypirc
dist
tests/fixtures/credentials_config/app.cfg
tests/fixtures/labels_config/app_labels.cfg
credentials_conf.cfg
labels_conf.cfg
labels_conf (copy).cfg
labels_conf (another copy).cfg
test.cfg
labelatory.egg-info