[config]
type = <TYPE>
repo = github_username/github_config_repo
secret = <GITHUB_WEBHOOK_SECRET>
token = <GITHUB_TOKEN>

[service:github]
token = <GITHUB_TOKEN>
secret = <GITHUB_WEBHOOK_SECRET>

[service:gitlab]
host = <HOST>
token = <GITLAB_TOKEN>
secret = <GITLAB_WEBHOOK_SECRET>