{% extends 'layout.html' %}

{% block body %}
    <div class="row">
        <div class="col-6">
                <div id='services'>
                <div class="col">
                    <h3>Services</h3>

                    <button id="check-btn" type="button" class="btn btn-secondary">Check</button>
                    <button id="fix-btn" type="button" class="btn btn-secondary">Fix</button>
                </div>
                <ul>
                    {% for service in services %}
                        <li>
                            <strong>{{ service.name }}</strong>
                            <table class="table table-hover table-bordered">
                                {% for reposlug, enabled in service.repos.items() %}
                                    {% if enabled == True %}

                                        <tr class="d-flex">
                                            <td class="col-sm-7"><strong>{{ reposlug }}</strong></td>
                                            <td class="col-sm-3"><span style="color: green;">ENABLED</span></td>
                                            <td class="col-sm-2">
                                                <button type="button" class="btn btn-sm btn-light" onclick="switchServiceState('{{ service.name }}', '{{ reposlug }}', '{{ enabled }}')">
                                                    Switch
                                                </button>
                                            </td>
                                        </tr>

                                    {% else %}

                                        <tr class="d-flex">
                                            <td class="col-sm-7"><strong>{{ reposlug }}</strong></td>
                                            <td class="col-sm-3"><span style="color: red;">DISABLED</span></td>
                                            <td class="col-sm-2">
                                                <button type="button" class="btn btn-sm btn-light" onclick="switchServiceState('{{ service.name }}', '{{ reposlug }}', '{{ enabled }}')">
                                                    Switch
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div id="labels">
                <div class="col">
                    <h3>Labels</h3>
                    <a id="add-label-btn" class="btn btn-success" href="{{ url_for('add_label') }}">Add</a>
                </div>
                <ul>
                    {% for label_name, label in cfg.labels_rules.items() %}
                        <li>
                            <p>
                                <strong>{{ label_name }}</strong>
                                
                                <div class="colorbox" style="background-color: {{ label.color }};"></div>
                                <span>&nbsp;{{ label.color }}</span>
                                <span>&nbsp;{{ label.description }}</span>
                                <br>
                                <!-- var label = {name: new String('{{ label.name }}'), color: new String('{{ label.color }}'), description: new String('{{ label.description }}')};  -->
                                <!-- <button type="button" class="btn btn-sm btn-info" onclick='window.location="/edit"; var label = {name:"{{ label.name }}", color:"{{ label.color }}", description:"{{ label.description }}"}; editLabel(label);'>Edit</button> -->
                                <a class="btn btn-sm btn-info" href="{{ url_for('edit_label', name=label.name, oldName=label.name, color=label.color, description=label.description) }}">Edit</a>
                                <button type="button" class="btn btn-sm btn-danger" onclick="deleteLabel('{{ label.name }}')">Delete</button>
                            </p>
                            <!-- <ul>
                                <li>
                                    <div class="colorbox" style="background-color: {{ label.color }};"></div>
                                    <span>&nbsp;{{ label.color }}</span>
                                </li>
                                <li>
                                    <span>{{ label.description }}</span>
                                </li>
                            </ul> -->
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    
{% endblock %}